pip==25.0  # Asegura que pip esté actualizado

# Dependencias generales
gdown
opencv-python-headless
Pillow
numpy
streamlit
fpdf

# PyTorch CPU (si no usas GPU)
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.1+cpu
-f https://download.pytorch.org/whl/cpu

# Detectron2 (se instalará desde GitHub)
pip install git+https://github.com/facebookresearch/detectron2.git@v0.6 --no-build-isolation

